.menu-bar {
  text-align: center;
  margin: 0px;
  padding: 0;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2px;
}

.menu-bar li {
  text-align: center;
  display: contents;
  margin: 1px;
  padding: 1px;
  width: 240px;
}

.menu-bar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 12px;
  transition: 0.5s;
  display: inline-block;
  margin: 0;
}
.menu-bar a.active,
.menu-bar a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(173, 160, 252, 0.32);
}
